# Flutter/Dart build artifacts
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Android
android/local.properties
android/key.properties
*.jks
*.keystore

# iOS
ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/

# Xcode
*.xcworkspace
*.xcuserdata
ios/Runner/GeneratedPluginRegistrant.*

# Misc
.DS_Store
*.swp
*.swo
pubspec.lock
